* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}
/* author: https://codepen.io/HighFlyer/pen/vYqvRWV 
Thea
 */
:root {
  --cursor-size: 25px;
  --bg: #67fffc;
}

.page-wrap {
  background: var(--bg);
  min-height: 100vh;
}

#cursor {
  position: fixed;
  top: calc(var(--cursor-size) * -0.5);
  left: calc(var(--cursor-size) * -0.5);
  pointer-events: none;
  mix-blend-mode: difference;
  filter: url(#goo);
}
.cursor-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--cursor-size);
  height: var(--cursor-size);
  border-radius: var(--cursor-size);
  background: var(--bg);
  transform-origin: center center;
}

/*  */
.flex {
  display: flex;
}
.pad-120-120 {
  padding-left: 70px;
  padding-top: 25px;
  padding-right: 70px;
}
/* header */
.header {
  color: rgb(61, 61, 61);
  border-bottom: 0.5px solid black;
}
.header-nav {
  gap: 266px;
  align-items: center;
}
.header-ul-1,
.header-ul-3 {
  padding-bottom: 15px;
}
/* header 1-ul */
.header-ul-li-1 svg {
  width: 20px;
  height: 20px;
}
/* header 2-ul */
.header-ul-2 {
  gap: 30px;
}
.header-ul-2 a {
  color: black;
}
.li-1,
.li-2,
.li-3,
.li-4 {
  padding-bottom: 15px;
}
.header-ul-2 .li-1:hover,
.li-2:hover,
.li-3:hover,
.li-4:hover {
  border-bottom: 1px solid rgb(70, 163, 88);
  transition: 0.6s ease-in-out;
  padding-bottom: 10px;
}
/* header 3-ul */
.header-ul-3 {
  align-items: center;
}

.header-ul-li-2 svg {
  width: 20px;
  height: 20px;
  padding: 0px 20px;
}
.header-btn {
  display: flex;
  padding: 8px 15px;
  border: 1px solid rgb(70, 163, 88);
  border-radius: 6px;
  background: rgb(70, 163, 88);
  color: white;
  cursor: pointer;
  align-items: center;
  gap: 3px;
}
.header-btn:hover {
  background-color: rgb(236, 246, 238);
  border-radius: 8px;
  border: 1px solid rgb(70, 163, 88);
  color: rgba(70, 163, 88, 0.6);
  transition: 0.6s ease-in-out;
}
.header-btn svg {
  width: 20px;
  height: 20px;
}
.header-btn div {
  font-size: 16px;
}
/* =========================== */
.make {
  margin-top: 5px;
  margin-bottom: 45px;
}
.make-ul {
  margin-left: 70px;
  display: flex;
  align-items: center;
  background: linear-gradient(
    134.56deg,
    rgba(245, 245, 245, 0.5) -23.457%,
    rgba(245, 245, 245, 0.5) 107.508%
  );
}
.make-ul .wel {
  font-size: 14px;
  font-weight: 500;
  color: rgb(61, 61, 61);
  padding-top: 68px;
  padding-bottom: 7px;
}
.better {
  padding-left: 43px;
}
.better h1 {
  font-size: 70px;
  font-weight: 900;
  display: flex;
  color: rgb(23, 23, 23);
}
.better-div {
  gap: 10px;
}
.better-div p {
  font-size: 70px;
  font-weight: 900;
  color: rgb(23, 23, 23);
}
.better-div .pla {
  color: rgb(70, 163, 88);
}
.are-p {
  padding-top: 5px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(114, 114, 114);
  padding-bottom: 44px;
}
.shop-button {
  font-size: 16px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  border-radius: 6px;
  background: rgb(70, 163, 88);
  padding: 10px 25px;
  border: 1px solid rgb(70, 163, 88);
  margin-bottom: 85px;
}
.shop-button:hover {
  color: rgb(70, 163, 88);
  background: linear-gradient(
    134.56deg,
    rgba(245, 245, 245, 0.5) -23.457%,
    rgba(245, 245, 245, 0.5) 107.508%
  );
  border: 1px solid rgb(70, 163, 88);
  transition: 0.5s;
}

.make-img .katta {
  width: 418px;
  height: 518px;
  padding-left: 200px;
}
.make-img .kichik {
  position: absolute;
  width: 135px;
  height: 135px;
  left: 768px;
  top: 435px;
}
/* =========================== */
.shop-pad {
  padding-left: 50px;
}
.width-268 {
  width: 310px;
  background-color: rgb(251, 251, 251);
}
.shop-name {
  width: 268px;
  padding-bottom: 19px;
}
.shop-type .type-n {
  color: rgb(61, 61, 61);
  font-size: 18px;
  font-weight: 700;
  padding-left: 18px;
  padding-top: 14px;
}
.shop-row {
  padding-top: 7px;
  padding-left: 30px;
}
.shop-row a {
  color: rgb(114, 114, 114);
}
.shop-row a:hover {
  color: rgb(70, 163, 88);
  transition: 0.4s ease-in-out;
}
.type-a {
  position: relative;
  padding-bottom: 10px;
}
.type-a .right-33 {
  position: absolute;
  padding-right: 24px;
  right: 0;
}
/* ------------------ */
.shop-range {
  color: rgb(61, 61, 61);
  font-size: 18px;
  font-weight: 700;
  padding-left: 18px;
}
.pri-range {
  padding-bottom: 10px;
}
.shop-li-btn button {
  margin-top: 10px;
  margin-left: 12px;
  padding-right: 20px;
  padding-left: 20px;
}
.form {
  margin-left: 12px;
}
.shop-p {
  margin-left: 12px;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  gap: 5px;
}
.shop-p p {
  padding-top: 10px;
  color: rgb(23, 23, 23);
}
.shop-p .p-range {
  color: rgb(70, 163, 88);
}
.form[type="range"] {
  color: rgb(70, 163, 88);
}

/* ------------------ */
.bg-image {
  width: 310px;
  height: 470px;
  position: relative;
  background-image: url("/img/image/bg.png");
}
.bg-image .images-top {
  width: 266px;
  height: 65px;
  padding: 0px 22px;
}
.bg-image p {
  font-size: 23px;
  font-weight: 700;
  text-align: center;
  color: rgb(61, 61, 61);
}
.bg-image .images-botton {
  position: absolute;
  left: -30px;
  width: 370px;
  height: 370px;
}
/* -------------------------------------- */
.shop-call a {
  font-size: 15px;
  font-weight: 400;
  color: rgb(61, 61, 61);
  padding-right: 37px;
}
.shop-call a:hover p {
  color: rgb(70, 163, 88);
  padding-bottom: 5px;
  border-bottom: 2px solid rgb(70, 163, 88);
  transition: 0.4s ease-in-out;
}
/* ======================================= */
.angel {
  width: 250px;
  height: 300px;
  margin-top: 20px;
  position: relative;
}
.angel-img {
  position: absolute;
  width: 230px;
  height: 280px;
  background-color: rgb(251, 251, 251);
}
.angel-img img {
  position: absolute;
  overflow: hidden;
  display: flex;
  width: 230px;
  height: 250px;
}
.angel-text p {
  position: absolute;
  font-size: 16px;
  font-weight: 400;
  color: rgb(61, 61, 61);
  bottom: -3%;
}
.angel-text h6 {
  position: absolute;
  font-size: 18px;
  font-weight: 700;
  color: rgb(70, 163, 88);
  bottom: -10%;
}
.angel-icon-li {
  position: absolute;
  left: 60px;
  bottom: 7px;
  gap: 10px;
  opacity: 0;
}
.angel-icon-li svg {
  background: rgb(255, 255, 255);
  color: rgb(61, 61, 61);
  padding: 8px;
  border-radius: 4px;
  font-size: 20px;
  transition: 0.6 ease-in-out;
}
.angel-img:hover {
  border-top: 1.5px solid rgb(70, 163, 88);
}
.angel:hover .angel-icon-li {
  transition: 0.6 ease-in-out;
  opacity: 1;
}
.angel-icon-li svg:hover {
  color: rgb(70, 163, 88);
}
/* ----- */
.angel-text .dollor h6 {
  position: absolute;
  font-size: 18px;
  font-weight: 700;
  color: rgb(70, 163, 88);
  bottom: -10%;
}
.angel-text .dollor h5 {
  position: absolute;
  font-size: 18px;
  font-weight: 700;
  color: rgb(165, 165, 165);
  left: 29%;
  bottom: -10%;
}
.corner {
  position: absolute;
  left: 0;
  top: 10px;
  width: 80px;
  height: 29px;
  background: rgb(70, 163, 88);
}
.corner p {
  padding: 5px;
  position: absolute;
  font-size: 16px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
.pad-20 {
  margin-top: 64px;
}
/* =============================================== */
.cursor-one {
  position: relative;
  padding-top: 90px;
}
.cursor-five {
  position: absolute;
  right: 100px;
  gap: 6px;
}
.cursor-one .cursor-five li {
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 4px;
  font-size: 18px;
  font-weight: 700;
  padding-top: 6px;
  padding-left: 12px;
  cursor: pointer;
}
.cursor-five li svg {
  padding-top: 2px;
}
.cursor-five a {
  color: rgb(61, 61, 61);
}
.cursor-five li:hover {
  background-color: rgb(70, 163, 88);
}
.cursor-five li:hover a {
  color: rgb(251, 251, 251);
}

/* =================================== */
.fidex {
  padding-top: 120px;
}
.fidex .justen {
  gap: 20px;
  position: relative;
  justify-content: center;
}
.fidex .bg-img {
  position: relative;
  width: 555px;
  height: 250px;
  background-color: rgb(251, 251, 251);
}
.bg-img .fidex-img img {
  position: absolute;
  width: 292px;
  height: 300px;
  bottom: 5%;
}
.fidex-img-1 img {
  position: absolute;
  width: 90px;
  height: 90px;
  left: 0;
  bottom: 0;
}
.fidex-text {
  top: 40px;
  text-align: right;
  right: 20px;
  position: absolute;
}
.fidex-text h5 {
  font-size: 18px;
  color: rgb(61, 61, 61);
  padding-bottom: 8px;
}
.fidex-text p {
  font-size: 16px;
  padding-bottom: 5px;
  color: rgb(114, 114, 114);
}
/* button------ */
.header-btn-1 {
  position: relative;
  margin-top: 20px;
  padding: 10px 23px;
  border: 1px solid rgb(70, 163, 88);
  border-radius: 6px;
  background: rgb(70, 163, 88);
  align-items: center;
}
.header-btn-1 svg {
  padding-top: 2px;
  padding-left: 5px;
  color: white;
}
.header-btn-1 p {
  color: white;
}
.header-btn-1:hover p {
  color: rgba(70, 163, 88, 0.6);
}
.header-btn-1:hover svg {
  color: rgba(70, 163, 88, 0.6);
}
.header-btn-1:hover {
  background-color: rgb(236, 246, 238);
  border-radius: 8px;
  border: 1px solid rgb(70, 163, 88);
  color: rgba(70, 163, 88, 0.6);
  transition: 0.6s ease-in-out;
}
/* .angel-icon-li{ opacity: 0;} */
/* =========================== */
/* .img-2ta{

  padding-top: 94px;
  padding-left: 120px;
  padding-right: 120px;
}
.img-vase{
  width: 292px;
  height: 292px;
}
.img-2ta-li{
  width: 40vw;
  display: flex;
  text-align: right;
  align-items: center;
  background-color: rgb(251, 251, 251);
}



.summer-li{
    padding: 20px 40px;
}
.summer-li h3{
  color:rgb(61, 61, 61);
  padding-bottom: 3px;
}
.summer-li .text{
  color: rgb(114, 114, 114);
}



.btn-more{
  border: 1px solid rgb(70, 163, 88);
  border-radius: 8px;
  background-color: rgb(70, 163, 88);
}
.btn-a{
  padding: 10px 25px;
  color: white;
  display: flex;
  align-items: center;
} */
/* =========================== */
/* Our Blog Posts */
/* our__1_____text */
.our {
  padding-left: 120px;
  padding-top: 138px;
  padding-right: 120px;
  padding-bottom: 100px;
}
.our-ul-li-1 {
  text-align: center;
}
a .our-ul-li-1 h1 {
  font-weight: 700;
  font-size: 30px;
  color: rgb(61, 61, 61);
}
.our-ul-li-1 p {
  font-size: 14px;
  color: rgb(114, 114, 114);
  padding-top: 15px;
  padding-bottom: 35px;
}
/* our__2____text */
.our-ul-li-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-ul-li-ul {
  border-radius: 10px;
  background-color: rgb(251, 251, 251);
}
.our-img img {
  border-radius: 10px;
  width: 268px;
  height: 195px;
}
.our-text {
  padding-top: 9px;
  padding-left: 15px;
  padding-right: 31px;
  padding-bottom: 13px;
}
.our-text .p-1 {
  color: rgb(70, 163, 88);
}
.our-text .h1-1 {
  color: rgb(61, 61, 61);
  padding: 4px 0;
}
.our-text .p-2 {
  color: rgb(114, 114, 114);
  padding-bottom: 9px;
}
.our-div {
  display: flex;
  align-items: center;
  color: rgb(61, 61, 61);
}
.our-div p {
  font-size: 14px;
}
.our-div svg {
  padding-left: 5px;
  font-size: 14px;
}
.our-div:hover {
  color: rgb(70, 163, 88);
  transition: 0.6s ease-in-out;
}
/* our__rasm____2 */
.our-margin {
  margin-left: 20px;
}
/* ============================= */
.bg-color {
  background-color: rgb(251, 251, 251);
  margin: 30px 75px;
}
.everything-kak-1 {
  color: rgb(61, 61, 61);
  align-items: center;
}
.img-w .img-w-1 img {
  padding-left: 15px;
  width: 120px;
  height: 120px;
}
.border-kak-1 {
  margin-top: 25px;
  margin-left: 23px;
  margin-bottom: 24px;
  padding-right: 30px;
  border-right: 1px solid rgb(236, 246, 238);
}
.border {
  font-size: 17px;
  color: rgb(61, 61, 61);
}
.border {
  font-size: 14px;
  color: rgb(114, 114, 114);
}
.border-kak-2 {
  margin-top: 25px;
  margin-left: 23px;
  margin-bottom: 24px;
  padding-right: 30px;
  border-right: 1px solid rgb(236, 246, 238);
}
.border-kak-3 {
  margin-top: 25px;
  margin-left: 23px;
  margin-bottom: 24px;
  padding-right: 60px;
}

/* ============================= */

.form-group {
  width: 354px;
  height: 40px;
  display: flex;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid #ccc;
}
.input[type="email"] {
  flex-grow: 1;
  padding: 10px;
  border: none;
  font-size: 14px;
  border-radius: 0;
  border-radius: 6px;
}
.button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 0;
}
.button:hover {
  background-color: rgb(236, 246, 238);
  border-radius: 8px;
  border: 1px solid rgb(70, 163, 88);
  color: rgba(70, 163, 88, 0.6);
  transition: 0.6s ease-in-out;
}
.email-btn {
  width: 354px;
}
.email-btn h3 {
  color: rgb(61, 61, 61);
  margin-top: 37px;
  margin-bottom: 18px;
  font-size: 18px;
}
.email-btn p {
  color: rgb(114, 114, 114);
  font-size: 13px;
  margin-top: 18px;
  margin-bottom: 33px;
}

/* ============================= */
.everything-blok {
  background-color: rgb(236, 246, 238);
  margin-bottom: 32px;
  padding: 30px 75px;
  align-items: center;
  color: rgb(61, 61, 61);
  font-size: 14px;
  gap: 100px;
}
.location-icon svg {
  padding-top: 5px;
}
.logo-text {
  gap: 8px;
}
.icon {
  font-size: 20px;
  color: rgb(70, 163, 88);
}
/* =============================================== */
.finish-card {
  gap: 140px;
}
.finish-row {
  padding-left: 35px;
  padding-bottom: 29px;
}
.finish-row h3 {
  font-size: 18px;
  font-weight: 700;
  color: rgb(61, 61, 61);
}
.finish-row p {
  line-height: 30px;
  font-size: 14px;
  color: rgb(114, 114, 114);
}
.karta {
  padding-left: 30px;
}

.card-icon {
  margin-right: 8px;
}
.card-icon svg {
  font-size: 18px;
  padding: 7px;
  border-radius: 8px;
  color: rgba(70, 163, 88, 0.6);
  border: 1px solid rgba(70, 163, 88, 0.6);
}
.card-icon:hover svg {
  background-color: rgba(70, 163, 88, 0.6);
  color: rgb(236, 246, 238);
  border: 1px solid rgba(70, 163, 88, 0.6);
  transition: 0.6s ease-in-out;
}

.karta h3 {
  padding-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
  color: rgb(61, 61, 61);
}
.karta .h3-w {
  padding-top: 33px;
}
.karta img {
  width: 224px;
  height: 26px;
}
/* =============================================== */
.exit {
  color: rgb(114, 114, 114);
  font-size: 14px;
  text-align: center;
  margin-top: 7px;
  margin-bottom: 13px;
}
